In [1]:
import pandas as pd
import numpy as np

In [2]:
pcos_inf = pd.read_excel("../data/PCOS_data_without_infertility.xlsx")
pcos_inf

,Instructions to be followed :,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,1.0,Kindly ensure that the datas are converted to...,NaN,NaN
2,2.0,Please fill up the entire data set of a patient,NaN,NaN
3,3.0,Manipulated datas if any need to be highlighte...,NaN,NaN
4,4.0,"For every Yes/No questions *** , Indicate Yes...",NaN,NaN
5,5.0,Blood Group indications **,NaN,A+ = 11
6,NaN,NaN,NaN,A- = 12
7,NaN,NaN,NaN,B+ = 13
8,NaN,NaN,NaN,B- = 14
9,NaN,NaN,NaN,O+ =15
10,NaN,NaN,NaN,O- = 16
11,NaN,NaN,NaN,AB+ =17
12,NaN,NaN,NaN,AB- = 18
13,6.0,Blood pressure should be entered as systolic a...,NaN,NaN
14,7.0,Additional informations if any should be kept ...,NaN,NaN
15,8.0,Please ensure that no NaN ( Non Numeric values...,NaN,NaN
16,9.0,RBS means Random glucose test,NaN,NaN
17,10.0,Beta-HCG cases are mentioned as Case I and II ...,NaN,NaN
18,11.0,In case sparing a blank space kindly fill the ...,NaN,NaN
19,12.0,If the patient is PCOS Fill the cell with gree...,NaN,NaN

In [4]:
pcos = pd.read_csv("../data/PCOS_infertility.csv")
pcos

,Sl. No,Patient File No.,PCOS (Y/N),I beta-HCG(mIU/mL),II beta-HCG(mIU/mL),AMH(ng/mL)
0,1,10001,0,1.99,1.99,2.07
1,2,10002,0,60.80,1.99,1.53
2,3,10003,1,494.08,494.08,6.63
3,4,10004,0,1.99,1.99,1.22
4,5,10005,0,801.45,801.45,2.26
...,...,...,...,...,...,...
536,537,10537,0,1.99,1.99,1.7
537,538,10538,0,80.13,1.99,5.6
538,539,10539,0,1.99,1.99,3.7
539,540,10540,0,292.92,1.99,5.2
540,541,10541,1,1.99,1.99,20